# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
*.pyc

# Output files
*.pyz
__pypackages__/

# virtualenv
venv/
env/
ENV/

# pipenv
Pipfile.lock

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Visual Studio Code settings
.vscode/

# Sublime Text workspace files
.sublime-workspace

# SageMath parsed files
.sage-sage/

# Python Tools for Visual Studio (PTVS)
__pycache__/
Pycache/

# Radon
__pycache__/
Pycache/

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.env